---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Thumb from "../components/Thumb.astro";
import Masthead from "../components/Masthead.astro";

let title = "Sam & Leah Wedding";
let description = "Sam & Leah's Wedding Photos";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:image" content="https://html5up.net/uploads/cards/multiverse.jpg" />

    <link href="./favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />

      <div id="main">

        <Masthead
            title="Preparation"
            href="/images/prep/masthead.jpg"
        />

        <Thumb
            title="Sam's Socks"
            description="I make things easy for the photographer"
            href="/images/prep/sam-socks.jpg"
        />
        <Thumb
            title="Nathan Getting Ready"
            description="Getting Nathan's tux fitted is always an ordeal"
            href="/images/prep/nathan-cuffs.jpg"
            crop=true
        />
        <Thumb
            title="Sam's Cufflinks"
            description="In Leah's handwriting"
            href="/images/prep/sam-cufflinks.jpg"
        />
        <Thumb
            title="A Hand Please"
            description="When you're the groom, suddenly everyone offers to help with everything. That blazer put up a fight!"
            href="/images/prep/sam-coat.jpg"
        />
        <Thumb
            title="Arnie & Arnie"
            description="Yes son, you are presentable"
            href="/images/prep/arnie-arnie.jpg"
        />
        <Thumb
            title="Ties Are A 2-Man Job"
            description="These aren't normal ties. No knots required, but require two people"
            href="/images/prep/max-tie.jpg"
        />
        <Thumb
            title="Mother of the Groom"
            description="She put on the boutonniere for me"
            crop=true
            href="/images/prep/sam-alexis.jpg"
        />
        <Thumb
            title="Parents of the Groom"
            description="Lots of these are poses. I promise most of us can dress ourselves, most of the time"
            href="/images/prep/alexis-ben.jpg"
        />
        <Thumb
            title="Zippers"
            description="Conspiracy theory: wedding dresses are made to require help to give the mother & bridesmaids something to do other than be anxious"
            href="/images/prep/leah-anticipation.jpg"
        />
        <Thumb
            title="Motherly Love"
            description="Putting things on your own arm is surprisingly difficult"
            href="/images/prep/leah-kim.jpg"
        />
        <Thumb
            title="Leah's Earrings"
            description="She has a lovely smile, doesn't she"
            href="/images/prep/leah-earrings.jpg"
        />
        <Thumb
            title="Taking A Break"
            description='"That photo of me is unflattering" So I had to put it in'
            crop=true
            href="/images/prep/leah-sit-down.jpg"
        />
        <Thumb
            title="Fatherly Love"
            description="This is a great photo of Jeff. Also Leah"
            href="/images/prep/leah-fatherly-love.jpg"
        />
        <Thumb
            title="Sam's Letter to Leah"
            description="I made a custom card"
            href="/images/prep/leah-letter.jpg"
        />
        <Thumb
            title="Leah's Letter to Sam"
            description="Less embarrassing than custom vows"
            href="/images/prep/sam-letter.jpg"
        />

        <Masthead
            title="The Aisle"
            href="/images/down-the-aisle/masthead.jpg"
        />
        <Thumb
            title="Bride's Mother"
            description="I don't think anyone knew the ceremony was starting"
            href="/images/down-the-aisle/aisle-kim.jpg"
        />
        <Thumb
            title="Groom's Mother (Also Father)"
            description="My father knew he was walking here about 2 minutes before"
            href="/images/down-the-aisle/aisle-alexis-ben.jpg"
        />
        <Thumb
            title="Unity Candle Prepped"
            description="I think the Unity Candle is a beautiful tradition"
            href="/images/down-the-aisle/candle-lit.jpg"
        />
        <Thumb
            title="Any Moment Now"
            description="Leah's known Phil her entire life. He officiated my baptism"
            href="/images/down-the-aisle/sam-phil.jpg"
        />
        <Thumb
            title="Taylor & Max"
            description="Leah has known Taylor since high school. Max was my neighbor during high school and somehow ended up moving nearby again"
            href="/images/down-the-aisle/aisle-taylor-max.jpg"
        />
        <Thumb
            title="Ashley & Andrew (Married 7yrs)"
            description="Isn't this a lovely color on her"
            href="/images/down-the-aisle/aisle-ashley-andrew.jpg"
        />
        <Thumb
            title="Natalie & Nathan (Married 3mo)"
            description="She HATES having her photo taken"
            href="/images/down-the-aisle/aisle-natalie-nathan.jpg"
        />
        <Thumb
            title="Matron of Honor & Best Man"
            description="Arnie's got a death grip 🤣"
            href="/images/down-the-aisle/aisle-erica-arnie.jpg"
        />
        <Thumb
            title="I Don't Know Either"
            href="/images/down-the-aisle/sam-silly.jpg"
        />
        <Thumb
            title="First Glimpse"
            href="/images/down-the-aisle/aisle-leah-1.jpg"
        />
        <Thumb
            title="Happy"
            href="/images/down-the-aisle/sam-first-glimpse-reaction.jpg"
        />
        <Thumb
            title="Walking"
            href="/images/down-the-aisle/aisle-leah-2.jpg"
        />
        <Thumb
            title="Walking..."
            href="/images/down-the-aisle/aisle-leah-3.jpg"
        />
        <Thumb
            title="More Walking..."
            description="Slowest 10 seconds of my life"
            href="/images/down-the-aisle/aisle-leah-4.jpg"
        />
        <Thumb
            title="Bridesmaids"
            href="/images/down-the-aisle/bridesmaids.jpg"
        />
        <Thumb
            title="Groomsmen"
            href="/images/down-the-aisle/groomsmen.jpg"
        />
        <Thumb
            title="She's Not My Problem Any More"
            description="I did ask Jeff for permission to marry his daughter. He gave it readily"
            href="/images/down-the-aisle/aisle-handoff.jpg"
        />
        <Thumb
            title="So It Begins"
            description='I was informed I was instructed to hold her hand the entire time. "Pretend you like her"'
            href="/images/down-the-aisle/up-the-steps.jpg"
        />
        <Thumb
            title="Parental Reaction (Groom)"
            description="Don't know why mother looks nervous"
            href="/images/down-the-aisle/ben-alexis-reaction.jpg"
        />
        <Thumb
            title="Parental Reaction (Groom's Father)"
            description="I love this photo of my father"
            href="/images/down-the-aisle/ben-reaction.jpg"
        />
        <Thumb
            title="Parental Reaction (Bride)"
            description="I am fortunate to really like my in-laws. I'm glad they like me"
            href="/images/down-the-aisle/jeff-kim-reaction.jpg"
        />

        <Masthead
            title="The Ceremony"
            href="/images/ceremony/full-party.jpg"
        />
        <Thumb
            title="Emotion"
            description="I find the opposite reactions amusing"
            href="/images/ceremony/getting-started.jpg"
        />
        <Thumb
            title="Pew Pew"
            description="It's a large church, we barely filled the first few rows"
            href="/images/ceremony/pew-pew.jpg"
        />
        <Thumb
            title="Corinthians 13"
            description="I have the notes of what he said somewhere. I was too nervous to remember much"
            href="/images/ceremony/sermon-1.jpg"
            crop=true
        />
        <Thumb
            title="Matron of Honor"
            href="/images/ceremony/matron-of-honor.jpg"
            crop=true
        />
        <Thumb
            title="Best Man"
            href="/images/ceremony/best-man.jpg"
            crop=true
        />
        <Thumb
            title="Groom"
            href="/images/ceremony/groom.jpg"
            crop=true
        />
        <Thumb
            title="Bride"
            href="/images/ceremony/bride.jpg"
            crop=true
        />
        <Thumb
            title="Pass The Silver"
            href="/images/ceremony/ring-1.jpg"
        />
        <Thumb
            title="Yeet The Diamond"
            href="/images/ceremony/ring-2.jpg"
        />
        <Thumb
            title="Leah's Ring"
            description="I slid that ring on so slowly. Ask Natalie to tell you about how Nathan put hers on"
            href="/images/ceremony/bride-ring.jpg"
            crop=true
        />
        <Thumb
            title="Sam's Ring"
            description="She's putting my ring on. I'm almost surprised the photographer didn't walk onto the stage for a better shot of this"
            href="/images/ceremony/groom-ring.jpg"
            crop=true
        />
        <Thumb
            title="Lighting the Unity Candle"
            description="We managed to light it at exactly the same time"
            href="/images/ceremony/unity-candle.jpg"
            crop=true
        />
        <Thumb
            title="The Kiss"
            href="/images/ceremony/the-kiss.jpg"
            crop=true
        />
        <Thumb
            title="Don't Trip"
            description="That was exactly what we were saying to each other"
            href="/images/ceremony/dont-trip.jpg"
            crop=true
        />
        <Thumb
            title="I'm a Believer"
            description='"I thought love was only true in fairy tales"'
            href="/images/ceremony/im-a-believer.jpg"
            crop=true
        />

        <Masthead
            title="Bubbles!"
            href="/images/bubbles/masthead.jpg"
        />
        <Thumb
            href="/images/bubbles/left.jpg"
        />
        <Thumb
            title="Hug"
            href="/images/bubbles/hug.jpg"
        />
        <Thumb
            href="/images/bubbles/right.jpg"
        />

        <Masthead
            title="Outdoors"
            href="/images/outside/masthead.jpg"
        />
        <Thumb
            href="/images/outside/church-1.jpg"
            crop=true
        />
        <Thumb
            href="/images/outside/church-2.jpg"
            crop=true
        />
        <Thumb
            href="/images/outside/forest-1.jpg"
        />
        <Thumb
            href="/images/outside/forest-2.jpg"
        />
        <Thumb
            href="/images/outside/forest-3.jpg"
        />
        <Thumb
            href="/images/outside/forest-4.jpg"
        />
        <Thumb
            href="/images/outside/forest-5.jpg"
        />
        <Thumb
            title="Laugh"
            description='Photographer told me to make her laugh. I told her I was going to tell her something dirty: "the dishes"'
            href="/images/outside/forest-laugh.jpg"
        />
        <Thumb
            href="/images/outside/forest-6.jpg"
        />
        <Thumb
            href="/images/outside/forest-7.jpg"
            crop=true
        />
        <Thumb
            href="/images/outside/forest-8.jpg"
            crop=true
        />
        <Thumb
            href="/images/outside/forest-9.jpg"
        />
        <Thumb
            href="/images/outside/forest-10.jpg"
            crop=true
        />
        <Thumb
            title="Best Photo of the Couple"
            description="This is my favorite photo of the album. It will probably end up on our mantle at some point"
            href="/images/outside/forest-best.jpg"
        />

      </div>

      <Footer
        title="Sam & Leah Wedding, Sept 17 2022"
        description="A thank you to our friends and family for being a part of our special day."
      />
    </div>

    <script is:inline src="js/jquery.min.js"></script>
    <script is:inline src="js/jquery.poptrox.min.js"></script>
    <script is:inline src="js/browser.min.js"></script>
    <script is:inline src="js/breakpoints.min.js"></script>
    <script is:inline src="js/util.js"></script>
    <script is:inline src="js/main.js"></script>
  </body>
</html>
