---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Thumb from "../components/Thumb.astro";
import Masthead from "../components/Masthead.astro";

let title = "Sam & Leah Wedding";
let description = "Sam & Leah's Wedding Photos";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:image" content="https://html5up.net/uploads/cards/multiverse.jpg" />

    <link href="./favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />

      <div id="main">

        <Masthead
            title="Preparation"
            href="/images/prep/masthead.jpg"
        />

        <Thumb
            title="Sam's Socks"
            description='They say "Groom"'
            href="/images/prep/sam-socks.jpg"
        />
        <Thumb
            title="Nathan Getting Ready"
            href="/images/prep/nathan-cuffs.jpg"
            crop=true
        />
        <Thumb
            title="Sam's Cufflinks"
            description="In Leah's handwriting"
            href="/images/prep/sam-cufflinks.jpg"
        />
        <Thumb
            title="A Hand Please"
            description="The coat was difficult to put on!"
            href="/images/prep/sam-coat.jpg"
        />
        <Thumb
            title="Arnie & Arnie"
            description="Yes son, you are presentable"
            href="/images/prep/arnie-arnie.jpg"
        />
        <Thumb
            title="Ties Are A 2-Man Job"
            href="/images/prep/max-tie.jpg"
        />
        <Thumb
            title="Mother of the Groom"
            description="She put on the boutonniere for me"
            crop=true
            href="/images/prep/sam-alexis.jpg"
        />
        <Thumb
            title="Parents of the Groom"
            href="/images/prep/alexis-ben.jpg"
        />
        <Thumb
            title="Zippers"
            href="/images/prep/leah-anticipation.jpg"
        />
        <Thumb
            title="Motherly Love"
            description="I don't know why she needed help with the wrist thing"
            href="/images/prep/leah-kim.jpg"
        />
        <Thumb
            title="Leah's Earrings"
            href="/images/prep/leah-earrings.jpg"
        />
        <Thumb
            title="Taking A Break"
            description='"That photo of me is unflattering" So I had to put it in'
            crop=true
            href="/images/prep/leah-sit-down.jpg"
        />
        <Thumb
            title="Fatherly Love"
            description="This is a great photo of Jeff. Also Leah"
            href="/images/prep/leah-fatherly-love.jpg"
        />
        <Thumb
            title="Sam's Letter to Leah"
            description="I made a custom card"
            href="/images/prep/leah-letter.jpg"
        />
        <Thumb
            title="Leah's Letter to Sam"
            description="Less embarrassing than custom vows"
            href="/images/prep/sam-letter.jpg"
        />

        <Masthead
            title="The Ceremony"
            href="/images/ceremony/masthead.jpg"
        />
        <Thumb
            title="Kim Down The Aisle"
            description="I don't think anyone knew the ceremony was starting"
            href="/images/ceremony/aisle-kim.jpg"
        />
        <Thumb
            title="Alexis Down The Aisle (Ben Too)"
            description="My father knew he was walking here about 2 minutes before"
            href="/images/ceremony/aisle-alexis-ben.jpg"
        />
        <Thumb
            title="Unity Candle Lit"
            description="I think the Unity Candle is a beautiful tradition"
            href="/images/ceremony/candle-lit.jpg"
        />

      </div>

      <Footer
        title="Sam & Leah Wedding, Sept 17 2022"
        description="A thank you to our friends and family for being a part of our special day."
      />
    </div>

    <script is:inline src="js/jquery.min.js"></script>
    <script is:inline src="js/jquery.poptrox.min.js"></script>
    <script is:inline src="js/browser.min.js"></script>
    <script is:inline src="js/breakpoints.min.js"></script>
    <script is:inline src="js/util.js"></script>
    <script is:inline src="js/main.js"></script>
  </body>
</html>
