---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Thumb from "../components/Thumb.astro";
import Masthead from "../components/Masthead.astro";

let title = "Sam & Leah Wedding";
let description = "Sam & Leah's Wedding Photos";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:image" content="https://html5up.net/uploads/cards/multiverse.jpg" />

    <link href="./favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />

      <div id="main">

        <Masthead
            title="Preparation"
            href="/images/prep/masthead.jpg"
        />

        <Thumb
            title="Sam's Socks"
            description="I make things easy for the photographer"
            href="/images/prep/sam-socks.jpg"
        />
        <Thumb
            title="Nathan Getting Ready"
            description="Getting Nathan's tux fitted is always an ordeal"
            href="/images/prep/nathan-cuffs.jpg"
            crop=true
        />
        <Thumb
            title="Sam's Cufflinks"
            description="In Leah's handwriting"
            href="/images/prep/sam-cufflinks.jpg"
        />
        <Thumb
            title="A Hand Please"
            description="When you're the groom, suddenly everyone offers to help with everything. That blazer put up a fight!"
            href="/images/prep/sam-coat.jpg"
        />
        <Thumb
            title="Arnie & Arnie"
            description="Yes son, you are presentable"
            href="/images/prep/arnie-arnie.jpg"
        />
        <Thumb
            title="Ties Are A 2-Man Job"
            description="These aren't normal ties. No knots required, but require two people"
            href="/images/prep/max-tie.jpg"
        />
        <Thumb
            title="Mother of the Groom"
            description="She put on the boutonniere for me"
            crop=true
            href="/images/prep/sam-alexis.jpg"
        />
        <Thumb
            title="Parents of the Groom"
            description="Lots of these are poses. I promise most of us can dress ourselves, most of the time"
            href="/images/prep/alexis-ben.jpg"
        />
        <Thumb
            title="Zippers"
            description="Conspiracy theory: wedding dresses are made to require help to give the mother & bridesmaids something to do other than be anxious"
            href="/images/prep/leah-anticipation.jpg"
        />
        <Thumb
            title="Motherly Love"
            description="Putting things on your own arm is surprisingly difficult"
            href="/images/prep/leah-kim.jpg"
        />
        <Thumb
            title="Leah's Earrings"
            description="She has a lovely smile, doesn't she"
            href="/images/prep/leah-earrings.jpg"
        />
        <Thumb
            title="Taking A Break"
            description='"That photo of me is unflattering" So I had to put it in'
            crop=true
            href="/images/prep/leah-sit-down.jpg"
        />
        <Thumb
            title="Fatherly Love"
            description="This is a great photo of Jeff. Also Leah"
            href="/images/prep/leah-fatherly-love.jpg"
        />
        <Thumb
            title="Sam's Letter to Leah"
            description="I made a custom card"
            href="/images/prep/leah-letter.jpg"
        />
        <Thumb
            title="Leah's Letter to Sam"
            description="Less embarrassing than custom vows"
            href="/images/prep/sam-letter.jpg"
        />

        <Masthead
            title="The Ceremony"
            href="/images/ceremony/masthead.jpg"
        />
        <Thumb
            title="Kim Down The Aisle"
            description="I don't think anyone knew the ceremony was starting"
            href="/images/ceremony/aisle-kim.jpg"
        />
        <Thumb
            title="Alexis Down The Aisle (Ben Too)"
            description="My father knew he was walking here about 2 minutes before"
            href="/images/ceremony/aisle-alexis-ben.jpg"
        />
        <Thumb
            title="Unity Candle Prepped"
            description="I think the Unity Candle is a beautiful tradition"
            href="/images/ceremony/candle-lit.jpg"
        />
        <Thumb
            title="Any Moment Now"
            description="Leah's known Phil her entire life. He officiated my baptism"
            href="/images/ceremony/sam-phil.jpg"
        />
        <Thumb
            title="Taylor & Max"
            description="Leah knows Taylor from work. Max was my neighbor during high school and somehow ended up moving nearby again"
            href="/images/ceremony/aisle-taylor-max.jpg"
        />
        <Thumb
            title="Ashley & Andrew (Married 7yrs)"
            description="If there were drama regarding bridesmaid dress colors, it would be poor taste to mention it"
            href="/images/ceremony/aisle-ashley-andrew.jpg"
        />
        <Thumb
            title="Natalie & Nathan (Married 3mo)"
            description="She HATES having her photo taken"
            href="/images/ceremony/aisle-natalie-nathan.jpg"
        />
        <Thumb
            title="Erica (Maid of Honor) & Arnie (Best Man)"
            description="Arnie's got a death grip 🤣"
            href="/images/ceremony/aisle-erica-arnie.jpg"
        />

      </div>

      <Footer
        title="Sam & Leah Wedding, Sept 17 2022"
        description="A thank you to our friends and family for being a part of our special day."
      />
    </div>

    <script is:inline src="js/jquery.min.js"></script>
    <script is:inline src="js/jquery.poptrox.min.js"></script>
    <script is:inline src="js/browser.min.js"></script>
    <script is:inline src="js/breakpoints.min.js"></script>
    <script is:inline src="js/util.js"></script>
    <script is:inline src="js/main.js"></script>
  </body>
</html>
