---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Thumb from "../components/Thumb.astro";

let title = "Sam & Leah Wedding";
let description = "Sam & Leah's Wedding Photos";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:image" content="https://html5up.net/uploads/cards/multiverse.jpg" />

    <link href="./favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />

      <div id="main">
        <Thumb
            title="Sam's Socks"
            description='They say "Groom"'
            href="/images/prep/sam-socks.jpg"
        />
        <Thumb
            title="Nathan Getting Ready"
            href="/images/prep/nathan-cuffs.jpg"
            crop=true
        />
        <Thumb
            title="Sam's Cufflinks"
            description="In Leah's handwriting"
            href="/images/prep/sam-cufflinks.jpg"
        />
      </div>

      <Footer
        title="Sam & Leah Wedding, Sept 17 2022"
        description="A thank you to our friends and family for being a part of our special day."
        github="https://github.com/sam-myers/"
        linkedin="https://www.linkedin.com/in/samuelrogermyers/"
      />
    </div>

    <script is:inline src="js/jquery.min.js"></script>
    <script is:inline src="js/jquery.poptrox.min.js"></script>
    <script is:inline src="js/browser.min.js"></script>
    <script is:inline src="js/breakpoints.min.js"></script>
    <script is:inline src="js/util.js"></script>
    <script is:inline src="js/main.js"></script>
  </body>
</html>
