---
const { title, description, twitter, facebook, instagram, github, dribbble, linkedin } = Astro.props;
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <section>
        <h2>Full Resolution Images</h2>
        <p>Click an image to see it at the hightest quality I have.<br>To save, click on an image -> Right Click -> Save As.</p>
      </section>
      <p class="copyright">
        &copy; AREA44. Design: <a href="http://html5up.net">HTML5 UP</a>.
      </p>
    </div>
  </div>
</footer>
