---
const { title, description, twitter, facebook, instagram, github, dribbble, linkedin } = Astro.props;
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <section>
        <h2>Contact Sam on ...</h2>
        <ul class="icons">
          <li><a href={linkedin} class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
          <li><a href={github} class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        </ul>
      </section>
      <p class="copyright">
        &copy; AREA44. Design: <a href="http://html5up.net">HTML5 UP</a>.
      </p>
    </div>
  </div>
</footer>
