---
const { href, title, thumbHref } = Astro.props;
---

<article class="masthead thumb">
  <a class="image" href={href} >
    <img src={thumbHref ? thumbHref : href} alt={title} />
  </a>
  <h2>{title}</h2>
</article>
